.filters__container {
  display: flex;
  margin-top: 14px;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.filters__item {
  margin-right: 14px;

  @media (max-width: 800px) {
    margin-bottom: 14px;
  }
}

.filters__item--input {
  box-sizing: border-box;
  border: 1px solid #cacccd;
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  padding: 12px;
}